
.animation-1 {
    position: absolute;
    top: 45%;
    left: 40%;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: black;
    color: bisque;
    padding-top: 20px;
}

.animation-1:hover {
    color: red;
    background-color: pink;
    border-radius: 10%;
    animation-name: text;
    animation-duration: 1.5s;
}

@keyframes text {
    from {
        color: bisque;
        background-color: black;
        border-radius: 0%;
    }
    to {
        color: red;
        background-color: pink;
        border-radius: 10%;
    }
}



.animation-2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 234, 0);
    border-radius: 30%;
}

.animation-2:hover {
    animation-name: circle;
    animation-duration: 5s;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 170);
    border-radius: 50%;
}

@keyframes circle {
    from {
        width: 100px;
        height: 100px;
        background-color: rgb(255, 234, 0);
        border-radius: 30%;
    }
    to{
        width: 300px;
        height: 300px;
        background-color: rgb(255, 0, 170);
        border-radius: 50%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .bottom-right-text {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    color: rgb(255, 0, 170);
  }





  .animated-gradient-background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    background: linear-gradient(-45deg, #ff00bf, #ec45b1, #23A6D5, #23D5AB, #ff00bf);
    background-size: 400% 400%;

    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}





.animated-text {
    font-size: 3em;
    font-family: monospace;
    animation-name: color-change;
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
        color: rgb(255, 255, 255); /* Color at the start (0s) */
    }
    25% {
        color: rgb(246, 122, 151); /* Color at 1.5s (25% of 6s) */
    }
    50% {
        color: yellow; /* Color at 3s (50% of 6s) */
    }
    75% {
        color: rgb(92, 212, 92); /* Color at 4.5s (75% of 6s) */
    }
    100% {
        color: rgb(255, 255, 255); /* Color at the end (6s), looping back to the start */
    }
}





.text-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #333;
    animation: rotateandblur 4s infinite linear alternate; 
}

@keyframes rotateandblur {
    0% {
        transform: rotate(0deg); 
        filter: blur(0px); 
    }
    50% {
        transform: rotate(180deg); 
        filter: blur(3px); 
    }
    100% {
        transform: rotate(360deg); 
        filter: blur(0px);  
    }
}


